extends layout

block content 
  header.index_header
    
  block.home
    h1#home Current discussions happening near you!
    
    div.discussion-block
      ul#discussion-block
        each val in loadedDiscussions
          li.discussion-element
            a(href="./discussion/"+val.id)=val.subject
        
            
    block  create-discussion
      form(method="post")#discussion-create
        label(for="subjectfield") What's today's topic?
        input(type="text" name="subjectfield" placeholder="enter a subject here").subjectfield
        button(type="submit").btn Let's get talking!
        
        
  footer.index.footer
  script(src="/primus/primus.js")
  script(src='/js/home.js')
  
