extends layout

block content 
  block current-discussions 
  h3 Current discussions happening near you!
    div.discussion-block
      
  block  create-discussion
    form(action="/discussion.js" method="post")#discussion-create
      label(for="subjectfield") What is the subject of your discussion?
      input(type="text" name="subjectfield" placeholder="enter your subject here").subjectfield
      button(type="submit") Let's start discussing!
