extends layout

block content
  h1 Welcome to QnA where asking questions is possible without interupting the speaker.

  div
    button.btn
      a(href="/auth/facebook" style={margin :'12px'}) Login with facebook
