extends layout

block content
  header.index_header

  div.index_main  
    h1 Welcome to QnA, where knowledge is shared!
    div
      button.btn
        a(href="/auth/facebook" style={margin :'12px'}) Login with facebook
      
  footer.index.footer
